@import "../../assets/scss/main.scss";

.home {
  &__hero-section {
    &__container {
      padding: 0 5rem;
      @include theme-breakpoint("sm-down") {
        padding: 0 0.5rem;
      }
      figure {
        img {
          width: 100%;
        }
      }
    }

    &__left-layout {
      backdrop-filter: saturate(100%) blur(2px);
      padding: 2rem;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 25px;

      opacity: 0;
      transition: all 2s;
      margin-bottom: 20em;
      -webkit-transition: all 2s;

      &--is-loaded {
        opacity: 1;
        margin-bottom: 0;
      }

      &__subtitle {
        text-transform: uppercase;
        font-size: 1rem;
        color: #000;
      }

      &__title {
        margin-bottom: 0.5 rem;
        text-transform: capitalize;
        font-size: 4rem;
        @include theme-breakpoint("sm-down") {
          margin-bottom: 1rem;
          font-size: $mobile-title-size;
        }
      }

      &__pagraph {
        margin-bottom: 0.5 rem;
        text-transform: capitalize;
        font-size: 1.8rem;
        color: #000;
        @include theme-breakpoint("sm-down") {
          font-size: $mobile-text-size;
        }
      }
      &__button {
        margin: 2rem;
        @include theme-breakpoint("sm-down") {
          margin: 1rem;
        }
      }
    }
  }

  &__second-section {
    &__container {
      padding: 5rem 5rem;
      figure {
        img {
          width: 100%;
        }
      }
    }

    &__right-layout {
      display: flex;
      align-items: center;
      &__subtitle {
        text-transform: uppercase;
        font-size: 1rem;
      }

      &__title {
        margin-bottom: 0.5 rem;
        text-transform: capitalize;
        font-size: 4rem;
      }

      &__pagraph {
        margin-bottom: 0.5 rem;
        text-transform: capitalize;
        font-size: 1.8rem;
      }
      &__button {
        margin: 0.5rem 0;
      }
    }
  }
}

.block-image-section {
  margin: 2rem 0;
}

.hover-image-section {
  margin: 2rem;
}
