@import "../../assets/scss/main.scss";

.home {
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__left-section {
    flex: 3;
  }

  &__center-section {
    flex: 4;
  }
  
  &__right-section {
    flex: 3;
  }
}
